.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1 1 auto;
    /* 残りのスペースをすべて埋める */
}

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.active-link {
    background-color: rgba(63, 81, 181, 0.15);
    /* Primary color with opacity */
    color: #3f51b5;
    /* Primary color */

    .mat-icon {
        color: #3f51b5;
        /* Primary color */
    }
}